<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label text="Navigate"></Label>
</ActionBar>

<GridLayout class="page__content" columns="*" rows="3*,10*," #layout>
  <StackLayout col="0" row="0">
    <!-- <Button text="Add random number" (tap)="addToList()"></Button> -->
    <SearchForm (search)="search($event)"></SearchForm>
    <!-- <Button text="Sort" (tap)="actionDialog()"></Button> -->
  </StackLayout>

  <StackLayout col="0" row="1" class="text-color" #list>
    <label [text]="this.listHeader"></label>
    <ListView [items]="this.resultados" class="list-group" separatorColor="black" height="100%">
      <ng-template let-item="item" let-i="index">
        <FlexboxLayout flexDirection="row" (tap)="onItemTap(item)">
          <Image src="res://icon" height="100px"></Image>
          <Label [text]="item" class="list-group-item " margin="0 200px"></Label>
        </FlexboxLayout>
      </ng-template>
    </ListView>
  </StackLayout>

</GridLayout>